
    ﻿body{
    background-color: #ffffcc;
    color: #330000;
    font-family: Verdana, Arial, sans-serif;
}

#h4 {
    background-color: #ccaa66;
    color: #000000;
    text-align: center;
}

form {
    text-align: center;
}


